body{
    background-color: white;
}
header{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main{
    margin-left: 50px;
    margin-right: 50px;
}

.kpi-overview {
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.chart1, .chart2 {
  flex : 1;
}

.next-prev-button button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.chart1-header{
    justify-content: space-between;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.chart1-header p{
    font-weight: bold;
}

.next-prev-button button:hover {
    background-color: #EA4C89;
}
.chart1 {
    text-align: right;
    width: 60%;
    padding-left: 20px;
}
.chart2 {
    text-align: center;
    width: 40%;
}

.chart2 p:first-child {
    font-weight: bold;
    margin-bottom: 50px;
}







/* --------------------------- */

.achievement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .number-of-day, .number-of-kpi, .rate-done {
    flex-basis: 33%;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .number-of-kpi {
    border-left: 2px dashed #000;
    border-right: 2px dashed #000;
  }
  

  /* Additional styling to ensure proper spacing and alignment */
  .inline {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
  
  .counter {
    margin-right: 5px; /* Adjust as needed */
    font-size: 50px;
    font-weight: bold;
  }
  
  .counter p {
    margin: 0; /* Remove default margins from paragraphs */
  }
  
  .inline span {
    color: #EA4C89;
  }

  .number-of-day p, .number-of-kpi p, .rate-done p {
    margin-top: 15px;
    font-size: 27px;
    font-weight: bold;
  }


  /* Điều chỉnh giao diện cho màn hình nhỏ hơn 768px (điện thoại di động) */
@media (max-width: 767px) {

  /* Điều chỉnh main */
  main {
    margin: 0px; /* Giảm khoảng cách giữa nội dung và viền */
  }

  .chart1-header{
    padding-top: 0px;
  }
#kpi-chart {
  margin-right: 20px;
}

  .kpi-overview {
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    margin-left: 5px;
    margin-right: 15px;
  }

  .chart1, .chart2 {
    width: 100%; /* Cho phép các biểu đồ chiếm toàn bộ chiều rộng */
  }

  .chart2 p:first-child {
    margin-top: 20px;
    margin-bottom: 10px;
}

  /* Điều chỉnh achievement */
  .achivement {
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
  }

  .number-of-day, .number-of-kpi, .rate-done {
    width: 100%; /* Cho phép các phần tử chiếm toàn bộ chiều rộng */
    margin-top: 30px;
    padding: 20px;
  }
  .chart1 {
    padding-right: 10px;
  }
.next-prev-button{
  padding-left: 20px;
}
  .chart1-header{
    padding-left: 5px;
    text-align: left;
}
.np-button{
  display: flex;
}

  .number-of-kpi {
    border-left: none; /* Xóa đường viền trái và phải */
    border-right: none;
  }
  .number-of-day p, .number-of-kpi p, .rate-done p {
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
  }
  .rate-done {
    margin-bottom: 50px;
  }
}

