#kpi-detail {
    width: 90%;
    margin-top: 2%;
    background-color: white;
    border-radius: 70px 0 70px 0;
    display: flex;
    align-items: center;
}

#kpi-detail-left,
#kpi-detail-right {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
    margin: 20px;
    padding: 10px;
}

#kpi-detail-right {
    width: 40%;
}

#kpi-detail-left {
    border-right: 3px solid rgba(234, 76, 137, 0.5);
    justify-content: center;
    width: 60%;
}

#kpi-des {
    width: 85% !important;
}

#name {
    position: relative;
}

#name h4 {
    font-weight: 700;
    text-align: center;
}

#name span {
    position: absolute;
    border-radius: 10px 0 10px 0;
    background-color: #EA4C89;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    top: -40%;
    right: 10%;
}

#history h5 {
    text-align: center;
    color: #EA4C89;
}

#history-log {
    display: flex;
    flex-direction: column;
    height: 86%;
    background-color: transparent;
    overflow-y: scroll;
    padding: 5px;
}

#history-log::-webkit-scrollbar {
    /* Tùy chỉnh thanh cuộn cho trình duyệt Chrome và Safari */
    width: 5px;
}

#history-log::-webkit-scrollbar-thumb {
    /* Tùy chỉnh phần thumb của thanh cuộn cho trình duyệt Chrome và Safari */
    background-color: #EA4C89;
    border-radius: 10px;
}

#history-log::-webkit-scrollbar-track {
    /* Tùy chỉnh phần track của thanh cuộn cho trình duyệt Chrome và Safari */
    background-color: transparent;
}

.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    border-radius: 10px 0 10px 0;
    background-color: #F3E2DF;
    color: black;
    margin: 5px 0;
}

#view-progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#add-box {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#input-number-today {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #EA4C89;
}

.modal-body label {
    font-weight: 700;
}