.landing-header {
    padding-right: 100px;
}

.login-signup-button button:first-child {
    border: none;
    background-color: #ffffff;
    margin-right: 15px;
    color: #ea4c89;
}

.login-signup-button button:first-child:hover {
    text-decoration: underline;
    color: #382e2e;
}

.login-signup-button button:last-child {
    border: 1px solid #ea4c89;
    padding: 5px 10px 5px 10px;
    border-radius: 100px 100px 100px 100px;
    background-color: #ea4c89;
    margin-right: 15px;
    color: #ffffff;
}

.login-signup-button button:last-child:hover {
    border: 3px solid #382e2e;
    background-color: #ffffff;
    color: #382e2e;
}

/* -------------------content---------------------------- */
#ld-content {
    background-image: linear-gradient(69deg, rgba(234, 76, 137, 0.69) 55%, rgba(94, 78, 201, 1)), url("/src/images/capybara.jpg");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    height: calc(100vh - 80px);
    position: relative;
}

#ld-text-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    color: white;
    gap: 30px;
}

#ld-btn a {
    text-decoration: underline;
}

.landing-content-right-title {
    font-size: 50px;
    font-weight: bold;
}

#ld-img-content {
    position: absolute;
    height: 100%;
    width: 55%;
    top: 0;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ld-img-content img {
    width: 100%;
    height: auto;
}
