/* -----left-content------ */
#left-content {
    background-color: #eda6a6ae;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#option-kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: white;
    border-radius: 50px 0 50px 0;
    padding: 30px 15px;
}

#option-kpi h4 {
    text-align: center;
}

#option-kpi button, 
#option-kpi label {
    margin: 10px 0;
    width: 70%;
}

#upload-kpi-label {
    text-align: center;
}

/* -----right-content------ */
#right-content {
    width: 80%;
    margin-left: 20%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
        width: 100%;
        text-align: center;
    }
}

.kpi-content {
    position: absolute;
    background-color: white;
    width: 90%;
    left :5%;
    padding: 20px;
    border-radius: 50px 0 50px 0;
    visibility: hidden;
}

.kpi-content.active {
    visibility: visible;
}

.form-item {
    display: flex;
    margin: 15px 0;
}

.form-item label {
    font-weight: 700;
    font-size: 20px;
}

.form-item input,
.form-item select {
    border: none;
    border-bottom: 2px solid #EA4C89;
    margin-left: 10px;
}

#kpi-name {
    width: 50%;
}

#kpi-des {
    width: 90%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #EA4C89;
    margin-left: 10px;
}

.line {
    width: 90%;
    margin: 20px auto;
    border-bottom: 3px solid #EA4C89;
    opacity: 0.3;
}

#kpi-target {
    display: flex;
    gap: 10px;
}

#kpi-date {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#date-option {
    display: flex;
}

#day-option {
    display: flex;
}

#week-option, #month-option {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#week-item-list, 
#month-item-list,
#same-task-list,
#level-task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.week-item, .month-item {
    display: flex;
    gap: 20px;
}

.add-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-more button {
    height: 50px;
    width: 50px;
    i {
        font-size: 35px;
    }
}

#submit-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
 
/* ---New--- */
#new-kpi-content {
    display: flex;
    flex-direction: column;
    background-color: white;
}

#unit-kpi, #task-kpi {
    display: none;
}

/* unit */
#loop-type {
    display: none;
}

#day-option, #week-option, #month-option {
    display: none;
}

/* --- same task --- */
.same-task-item, .level-task-item {
    display: flex;
    align-items: center;
}

.same-task-left {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.same-task-first, .same-task-second {
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.same-task-first label, .same-task-second label{
    font-size: 18px;
}

.same-task-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level-name-task {
    display: flex;
    gap: 20px;
}

#same-task, #level-task {
    display: none;
}

/* ---Example--- */
#example-kpi-content {
    background-color: transparent;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

#example-left-content,
#example-right-content {
    width: 45%;
    height: calc(100vh - 180px);
    background-color: white;
    border-radius: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.example-type {
    font-size: 20px;
    font-weight: 700;
    color: #EA4C89;
    margin: 10px 0;
}

.example-container {
    border-radius: 50px 0 50px 0;
    border: 3px solid #EA4C89;
    width: 85%;
    height: 85%;
    padding: 40px 5px 40px 25px;
}

.example-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.example-list::-webkit-scrollbar {
    /* Tùy chỉnh thanh cuộn cho trình duyệt Chrome và Safari */
    width: 5px;
}

.example-list::-webkit-scrollbar-thumb {
    /* Tùy chỉnh phần thumb của thanh cuộn cho trình duyệt Chrome và Safari */
    background-color: #EA4C89;
    border-radius: 10px;
}

.example-list::-webkit-scrollbar-track {
    /* Tùy chỉnh phần track của thanh cuộn cho trình duyệt Chrome và Safari */
    background-color: transparent;
}

.example {
    margin: 0px 15px 15px 15px;
    border-radius: 25px 0 25px 0;
    background-color: #F3E2DF;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.example span {
    color: black !important;
    margin: 5px 0 !important;
}

.example span:first-child {
    margin-left: 20px;
    border-radius: 10px 0 10px 0;
    background-color: #EA4C89;
    color: white !important;
    padding: 0 10px;
    width: max-content;
}

#upload-kpi-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

#unit-kpi.active {
    display: block;
}

/* notice */
#success-kpi {
    align-items: center;
    justify-content: center;
    background-color: rgba(234, 76, 137, 0.8);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 25px 0 25px 0;
    display: none;
    z-index: 15;
}

#success-kpi div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    i {
        font-size: 40px;
        color: #EA4C89;
    }
    margin-right: 10px;
}

#success-kpi span {
    font-size: 24px;
    font-weight: 700;
    color: white;
}


@media screen and (max-width: 430px) {
    #content {
        flex-direction: column;
    }

    #left-content {
        width: 100%;
        padding: 10px;
    }

    #left-content h4{
        display: none;
    }

    #option-kpi {
        flex-direction: row;
        width: 100%;
        padding: 30px 5px;
    }

    #option-kpi .medium-btn {
        font-size: 16px;
    }


    #option-kpi button, 
    #option-kpi label {
        width: 33%;
    }

    #right-content {
        width: 100%;
        margin-left: 0;
    }

}
