body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #e06666, #f5d1d1);;
    height: 100vh;
}

.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

.register-box {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    row-gap: 10px;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #eccfcb;
    transition: border-bottom 0.3s ease;
}

.row {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px; 
}

.gender {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    border-bottom: 2px solid #eccfcb;
}

.textbox i, .gender i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.textbox input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    transition: border-bottom 0.3s ease;
}

.gender select {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    transition: border-bottom 0.3s ease;
}

.btn {
    background: linear-gradient(to left, #e06666, #f5d1d1);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

.btn:hover {
    background: linear-gradient(to right, #e06666, #ea4c89);
}

.login {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.login a {
    text-decoration: none;
    color: #ea4c89;
}

.login a:hover {
    text-decoration: underline;
}

.logo {
    padding-bottom: 20px;
}
