* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 18px;
    a {
        text-decoration: none;
    }
    list-style: none;
}

/* -----------------------------------------------Header-------------------------------------------- */
header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- left-header --- */
#left-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu */
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    color: #EA4C89;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    opacity: 0.6;
    margin-left: 15px;
}

.menu-item i {
    font-size: 34px;
    margin-right: 5px;
}

.menu-item span {
    font-weight: 700;
    font-size: 22px;
    padding-right: 15px;
    border-right: 3px solid rgba(234, 76, 137, 0.3);
}

.menu-item:last-child span{
    border-right: none;
}

.menu-item:hover {
    opacity: 1;
    i, span {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

#menu .active {
    opacity: 1;
    border-bottom: 4px solid black;
    i, span {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

/* --- right-header --- */
#right-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-header button i {
    font-size: 34px;
    color: #EA4C89;
}

#right-header

/* avatar */
#avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #EA4C89;
    margin-left: 15px;
    position: relative;
}

#avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#avatar-menu {
    background-color: aqua;
    position: absolute;
    top: 100%;
    right: 0%;
    border-radius: 30px 0 30px 0;
    width: 250px;

}

/* notice */
.bg-primary {
    background-color: #5e5251 !important;
}

#notice {
    top: 15%;
}






body {
    background-color: red;
    height: 1000px;
}