* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 18px;
    a {
        text-decoration: none;
    }
    list-style: none;
}

/* -----------------------------------------------Header-------------------------------------------- */
header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- left-header --- */
#left-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu */
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.menu-item {
    color: #EA4C89;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    opacity: 0.6;
    margin-left: 15px;
}

.menu-item i {
    font-size: 34px;
    margin-right: 5px;
}

.menu-item span {
    font-weight: 700;
    font-size: 22px;
    padding-right: 15px;
    border-right: 3px solid rgba(234, 76, 137, 0.3);
}

.menu-item:last-child span{
    border-right: none;
}

.menu-item:hover {
    opacity: 1;
    i, span {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

#menu .active {
    opacity: 1;
    border-bottom: 4px solid black;
    i, span {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

#kpi {
    position: relative; /* Đặt phần tử cha của kpi-list là relative */
}

.kpi-list {
    position: absolute;
    top: 80%; 
    left: 0; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px 10px; 
    width: max-content;
    visibility: hidden;
    transition: margin 0.5s ease;
    margin-top: 50px;
}

.kpi-list li {
    padding: 10px;
}

.kpi-list li a {
    display: flex;
    align-items: center;
    color: #EA4C89;
    opacity: 0.6;
}

.kpi-list li a:hover {
    opacity: 1;
}

.kpi-list li a i {
    font-size: 28px;
    margin-right: 5px;
}

.kpi-list li a span {
    font-weight: 700;
}

.kpi-list:hover, #kpi:hover + .kpi-list {
    visibility: visible;
    margin-top: 0;
}

/* --- right-header --- */
#right-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-header button i {
    font-size: 34px;
    color: #EA4C89;
}

#right-header button:hover {
    background-color: rgba(236, 207, 203, 0.5);
}

/* avatar */
#avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #EA4C89;
    margin-left: 15px;
    position: relative;
}

#avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* avatar-menu */
#avatar-menu {
    background-color: white;
    position: absolute;
    top: 90%;
    right: -20%;
    border-radius: 30px 0 30px 0;
    width: 300px;
    padding-bottom: 10px;
    display: none;
    box-shadow: 1px 1px 5px#888888;
    transition: right 0.7s ease;
}

.avatar-menu-item {
    padding: 8px 0;
    a {
        color: black;
    }
}

.avatar-menu-item a:hover {
    color: #EA4C89;
}

.avatar-menu-item a i {
    font-size: 20px;
    margin-right: 10px;
}

#preview-profile {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#preview-profile img {
    width: 20%;
    border-radius: 50%;
    margin-right: 10px;
}

#preview-profile div {
    width: 80%;
}

#preview-infor span:first-child {
    color: #EA4C89;
    font-weight: 700;
}

#preview-infor span:last-child {
    font-size: 14px;
    opacity: 0.7;
}

/* notice */
.bg-primary {
    background-color: #5e5251 !important;
}

#notice {
    top: 15%;
}


/* ---- sidebar ----*/
.bar-btn {
    display: none;
}

.bar-btn i{
    font-size: 34px;
    color: #EA4C89;
}

#sidebar {
    position: absolute;
    top:85%;
    right: -70%;
    width: 69%;
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 30px 0 30px 0;
    box-shadow: 1px 1px 5px#888888;
    transition: right 0.7s ease;
}

#sidebar-infor {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#sidebar-infor img {
    width: 20%;
    margin-right: 5px;
    border-radius: 50%;
}

#sidebar-infor div {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#sidebar-infor div span:first-child {
    font-weight: 700;
    color: #EA4C89;
}

#sidebar-infor div span:last-child {
    font-size: 14px;
    opacity: 0.7;
}

.sidebar-item {
    color: #EA4C89;
    padding: 7px 5px;
}

.sidebar-item i{
    margin-right: 5px;
    font-size: 24px;
}

.sidebar-item span{
    font-size: 18px;
    font-weight: 700;
}

#sidebar-kpi {
    cursor: pointer;
}

.sidebar-kpi-list {
    margin-bottom: 0;
    display: none;
}

.sidebar-kpi-list li {
    opacity: 0.8;
    padding-top: 5px;
}

.sidebar-kpi-list li span{
    font-size: 16px;
    color: #EA4C89;
}

.sidebar-kpi-list li i{
    font-size: 22px;
    color: #EA4C89;
}

@media only screen and (max-width: 430px) {
    * {
        font-size: 16px;
    }

    header {
        height: 60px;
    }

    #logo img {
        height: 40px;
    }

    .bar-btn {
        display: block;
    }

    #menu {
        display: none;
    }

    #right-header {
        display: none;
    }
}



body {
    background-color: aqua;
    height: 1000px;
}